In [40]:
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd

In [12]:
res = requests.get('https://www.twse.com.tw/zh/page/announcement/punish.html')

In [1]:
res = requests.get('https://www.twse.com.tw/announcement/punish?response=json&startDate=&endDate=&stockNo=&sortKind=&querytype=&selectType=&proceType=&remarkType=&radioType=&_=1628090224776')
# soup = BeautifulSoup(res.text)
# print(soup.get_text())
# print(soup.select('data'))
txt = json.loads(res.text)
# print(txt['creditTitle'])
# print(txt['data'][0])
df = pd.read_json(res.text, orient ='index')
df

SyntaxError: invalid syntax (<ipython-input-1-6f649c34c9f8>, line 8)

In [65]:
lst = txt['data']
df2 = pd.DataFrame(lst, columns =['編號','公布日期','證券代號','證券名稱','累計','處置條件','處置起迄時間','處置措施','處置內容'])
del df2['處置內容']
del df2['編號']
df2.loc[df2['證券代號'].str.len() == 4]
# df2

         公布日期  證券代號 證券名稱  累計  處置條件               處置起迄時間   處置措施
55  110/08/03  1783  和康生   1  連續三次  110/08/04～110/08/17  第一次處置
56  110/07/28  2609   陽明   1  連續三次  110/07/29～110/08/11  第二次處置
57  110/07/26  6226   光鼎   1  連續三次  110/07/27～110/08/09  第一次處置